<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         metadata-complete="false"
         version="6.0">
    <display-name> First App</display-name>
    <description> Welcome to Tomcat World</description>

    <servlet>
        <servlet-name>FirstServlet</servlet-name>
        <servlet-class>by.itacademy.jd2.firstapp.HelloWorldServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>FirstServlet</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>SecurityFilter</filter-name>
        <filter-class>by.itacademy.jd2.firstapp.SecurityFilter</filter-class>
        <init-param>
            <param-name>active</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>another key</param-name>
            <param-value>another value</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>SecurityFilter</filter-name>
        <servlet-name>HelloServlet</servlet-name>
    </filter-mapping>
</web-app>